<p>
    King K. A Goblin Defense Game (v.1.2.0) es un vídeo juego para Windows (32 y 64 bits)
    creado para la <a href="http://jams.gamejolt.io/codenameig2a43/games">Impulsa Games Jams</a> la
    cuál se basaba en hacer juegos con apariencia de juegos de Atari ya que durante el desarrollo
    de la Jam se celebró el aniversario 43 de Atari.
    <br><br>
    El juego corresponde a un Goblin Defense 2D en el cuál debes proteger a tu rey <b>King K.</b> de la
    horda de furiosos y sucios humanos. La vida por <b>King K.</b>!!

    <ul>
        <li><a href="http://gamejolt.com/games/king-k-a-goblin-defense-game/82821">Versión 1.2.0.</a></li>
        <li><a href="/descargas/osts/kingkOST.zip" target="_blank">Soundtrack.</a></li>
        <li><a href="https://github.com/SpoonmanGames/KingK-AGolbinDefenseGame">Código fuente.</a></li>
        <li><a href="https://www.youtube.com/watch?v=PUiRDrq3Ux8">Time-Lapse.</a></li>
        <li><a href="http://www.spoonmangames.cl/blog/timelapsekingk/">Post-Mortem.</a></li>
        <li><a href="http://impulsagames.com/foro/showthread.php?tid=43">Diario del desarrollador.</a></li>
        <li><a href="https://www.youtube.com/watch?v=qzD_GePo96s&list=PLsHCX_FQmzl10YF_8m0oxfsLPKwhw7kXb">Devlog Improvisado.</a></li>
        <li><a href="{{ site.url }}/roadmap/#KK">Revisa el estado actual del proyecto en el Roadmap.</a></li>
    </ul>
</p>