<div class="page-header margin-top-60">
    <h4>
        {% if page.english %}
            Follow us on Facebook
        {% else %}
            Síguenos en Facebook
        {% endif %}
    </h4>
</div>
<div class="widget-list">
    <ul>
        <li>
            <div class="fb-page"
                 data-href="https://www.facebook.com/spoonman.games"
                 data-width="364"
                 data-small-header="false"
                 data-adapt-container-width="true"
                 data-hide-cover="false"
                 data-show-facepile="true"
                 data-show-posts="false">
            <div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/spoonman.games"><a href="https://www.facebook.com/spoonman.games">Spoonman Games</a></blockquote></div></div>
        </li>
    </ul>
    
</div>