	<!-- Twitter Cards -->
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	{% if page.excerpt %}
		<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
	{% endif %}
	{% if site.owner.twitter %}
		<meta name="twitter:site" content="@{{ site.owner.twitter }}">
	{% endif %}
	{% if headAuthor.twitter %}
		<meta name="twitter:creator" content="@{{ headAuthor.twitter }}">
	{% endif %}
	{% if page.image.teaser %}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:image" content="{% if page.image.teaser %}{{ site.url }}/img/{{ page.image.teaser }}{% else %}{{ site.url }}/img/{{ site.logo }}{% endif %}">
	{% endif %}
	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{ site.owner.facebook-sdk.appId }}">
	<meta property="fb:admins" content="747429333"/>
	<!-- Open Graph -->
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	{% if page.excerpt %}
		<meta property="og:description" content="{{ page.excerpt | strip_html }}">
	{% endif %}
	<meta property="og:site_name" content="{{ site.title }}">
	{% if page.english %}
	<meta property="og:locale" content="en">
	{% else %}
	<meta property="og:locale" content="{{ site.locale }}">
	{% endif %}
	{% if page.image.teaser %}
		<meta property="og:image" content="{% if page.image.teaser %}{{ site.url }}/img/{{ page.image.teaser }}{% else %}{{ site.url }}/img/{{ site.teaser }}{% endif %}">
	{% endif %}
		