<h3><kbd>Twitter</kbd></h3>
{% if page.english %}
<a class="twitter-timeline"
   lang="es"
   href="https://twitter.com/SpoonmanGames"
   data-widget-id="612078941751410688"
   data-aria-polite="assertive"
   data-chrome="noscrollbar">Tweets by @SpoonmanGames</a>
{% else %}
<a class="twitter-timeline"
   lang="es"
   href="https://twitter.com/SpoonmanGames"
   data-widget-id="612078941751410688"
   data-aria-polite="assertive"
   data-chrome="noscrollbar">Tweets por @SpoonmanGames</a>
{% endif %}
<br>