<p>
    Descend Into Heaven (v.2.0.3) es un vídeo juego basado en los viejos buenos tiempos, los gráficos
    y el gameplay están basado en la Game Boy (en la sin color!) y el diseño de niveles está inspirado
    en los clásicos juegos de SNES. Hicimos lo mejor posible para traer a la vida este viejo estilo en
    este pequeño, pero honesto juego.
    <br><br>
    Esperamos que lo disfrutes, y escucharemos con todo nuestro corazón a todo tipo de feedback que tengas, ya
    que queremos hacer mejores juegos y más grandes en el futuro.
    <br><br>
    También, si haces algún gameplay, review, blog o lo que sea sobre el juego, no dudes en contactarnos y nos aseguraremos
    de publicar tu contenido.

    <ul>
        <li><a href="http://spoonmangames.itch.io/descendintoheaven">Full Versión 2.0.3.</a></li>
        <li><a href="http://gamejolt.com/games/descend-into-heaven/87079">Demo Versión 2.0.3.</a></li>
        <li><a href="/descargas/osts/descendintoHeavenOST.zip" target="_blank">Soundtrack.</a></li>
        <li><a href="https://github.com/SpoonmanGames/Descend-Into-Heaven">Código fuente.</a></li>
        <li><a href="{{ site.url }}/blog/gameplayDIH">Gameplay por los mismos desarrolladores.</a></li>
        <li><a href="{{ site.url }}/blog/timelapsedih">Time-Lapse y Post-Mortem.</a></li>
        <li><a href="{{ site.url }}/roadmap/#DIH">Revisa el estado actual del proyecto en el Roadmap.</a></li>
    </ul>

    Si encuentras algún error en el juego nos puedes avisar mediante el siguiente link:
    <br>
    <ul>
        <li><a href="https://docs.google.com/forms/d/1BeyMNXKQZNARrbXpdppIoyXT8dRp7zKop-wjWgm4V7Y/viewform">Formulario de errores.</a></li>
    </ul>
</p>