<p>
    Descend Into Heaven (v.1.1.0) es un vídeo juego web (por ahora)
    creado para la <a href="http://jams.gamejolt.io/gbjam4">GameBoy 4 Jam</a>  la cuál se basaba en hacer juegos con 
    apariencia de Game Boy.
    <br><br>
    El juego es un plataformer que requiere de mucho habilidad del jugador para superar todos los desafíos. Se baja muchos
    niveles hasta llegar al fondo de los cielos y superar la prueba **final**. 

    <ul>
        <li><a href="http://gamejolt.com/games/descend-into-heaven/87079">Versión 1.1.0.</a></li>
        <li><a href="{{ site.url }}/downloads/osts/descendintoheavenOST.rar">Soundtrack.</a></li>
        <li><a href="https://github.com/SpoonmanGames/Descend-Into-Heaven">Código fuente.</a></li>
        <li><a href="#DIH">Time-Lapse (Pronto).</a></li>
        <li><a href="#DIH">Post-Mortem (Pronto).</a></li>
        <li><a href="{{ site.url }}/roadmap/#DIH">Revisa el estado actual del proyecto en el Roadmap.</a></li>
    </ul>
</p>