<!-- USAR EN EL MARKDOWN DE LA PORTADA -->

<div>
    <h3>Últimas Publicaciones</h3>
    <ul>
        {% for post in site.posts %}
            <li class="latest-post">
                <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
                    {% if post.image.teaser %}
                        <img src="{{ site.url }}/images/{{ post.image.teaser }}" alt="{{ post.title }}" />
                    {% else %}
                        <img src="{{ site.url }}/images/{{ site.teaser }}" alt="{{ site.teaser-alt }}" />
                    {% endif %}
                </a>
                <br>
                <p class="latest-post-title">{{ post.title }}</p>
            </li>
        {% endfor %}
    </ul>
</div>