{% if page.author %}
    {% assign author = site.data.authors[page.author] %}
{% else %}
    {% assign author = site.owner %}
{% endif %}

<div class="author-image">
    {% if author.avatar %}
	   <img src="{{ site.url }}/images/{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
        <img src="{{ site.url }}/images/{{ site.owner.avatar }}" alt="{{ site.description }}">
    {% endif %}
</div><!-- ./author-image -->
<div class="author-content">
	<h3 class="author-name" >
        Escrito por 
        {% if author.web %}
            <a href="http://{{ author.web }}" itemprop="author">
                {{ author.name }}
            </a>
        {% else %}
            <span itemprop="author">{{ author.name }}</span>
        {% endif %}
    </h3>
	<p class="author-bio">
        {% if author.rol %}
            <small>{{ author.rol }}</small><br>
        {% endif %}
        {{ author.bio }}
    </p>
    <p class="author-social">
        {% if author.web %}
            <a href="http://{{ author.web }}" class="badge"><i class="fa fa-home" aria-hidden="true"></i></a>
        {% endif %}
        {% if author.email %}
            <a href="mailto:{{ author.email }}" class="badge inverse"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        {% endif %}
        {% if author.facebook %}
            <a href="https://www.facebook.com/{{ author.facebook }}" class="badge info"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        {% endif %}
        {% if author.github %}
            <a href="https://github.com/{{ author.github }}" class="badge"><i class="fa fa-git" aria-hidden="true"></i></a>
        {% endif %}
        {% if author.twitter %}
            <a href="https://twitter.com/{{ author.twitter }}" class="badge info"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        {% endif %}
        {% if author.youtube %}
            <a href="https://www.youtube.com/channel/{{ author.youtube }}" class="badge danger"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        {% endif %}
        {% if author.linkedin %}
            <a href="https://cl.linkedin.com/in/{{ author.linked }}" class="badge info"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        {% endif %}
        {% if author.googleplus %}
            <a href="https://plus.google.com/u/0/{{ author.googleplus }}" class="badge danger"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        {% endif %}
        {% if author.tumblr %}
            <a href="https://{{ author.tumblr }}.tumblr.com" class="badge info"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
        {% endif %}
    </p>
</div><!-- ./author-content -->
