<!-- USAR EN EL MARKADOWN DE UN POST -->

<div class="pagination">
  {% capture category_name %}{{ page.categories | first }}{% endcapture %}
  {% for post in site.categories.[category_name] %}
    {% if post.url == page.url %}
      {% assign post_index0 = forloop.index0 %}
      {% assign post_index1 = forloop.index %}
    {% endif %}
  {% endfor %}
  {% for post in site.categories.[category_name] %}
    {% if post_index0 == forloop.index %}{% assign next_post = post %}{% endif %}
    {% if post_index1 == forloop.index0 %}{% assign prev_post = post %}{% endif %}
  {% endfor %}
  {% if prev_post || next_post %}
    <h4 class="ribbon">Navegación</h4>
  {% endif %}
  {% if prev_post %}<a class="pagination-btn pull-left btn btn-primary" href="{{ site.url }}{{ prev_post.url }}">Post anterior<br><i class="fa fa-arrow-left"></i> {{ prev_post.title }}</a>{% endif %}
  {% if next_post %}<a class="pagination-btn pull-right btn btn-primary " href="{{ site.url }}{{ next_post.url }}">Post siguiente<br><div class="pull-right">{{ next_post.title }} <i class="fa fa-arrow-right"></i></div></a>{% endif %}
</div>