<div class="inline-btn">
    <div class="fb-like" 
         data-href="{{ page.url | replace:'index.html','' | prepend: site.url }}" 
         data-layout="box_count" 
         data-action="like" 
         data-show-faces="true" 
         data-share="true"
    ></div>

    <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet"
      data-url="{{ page.url | replace:'index.html','' | prepend: site.url }}"
      data-via="{{ site.owner.twitter }}"
      data-counturl="{{ page.url | replace:'index.html','' | prepend: site.url }}"
      data-text="{{ page.title }}"
      data-size="large"
      data-count="vertical"
      data-hashtags="{% if page.tags.size > 0 %}{% for tag in page.tags %}{{ tag | replace:' ','' }},{% endfor %}{% endif %}SpoonmanGames">
    Tweet</a>

    <div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60"></div>
</div><!-- /.share-this -->



