/* ==========================================================================
   Page layout
   ========================================================================== */

/*
   Masthead
   ========================================================================== */

#masthead {
	background-color: $yellow;
    border-bottom: thick dotted $black;
    border-top: $yellow;
    border-left: $yellow;
    border-right: $yellow;    
	padding: $gutter;
	z-index: 5;
	@include transform(translate(0,0));
	@include transition(500ms cubic-bezier(.645,.045,.355,1.000));
	&.slide {
		@include transform(translate(-1600px,0));
	}
	.inner-wrap {
		@include outer-container;
	}
}
.site-title {
	@include row;
	@include media($large) {
		@include span-columns(4);
	}
	padding: (.25 * $masthead-height) 0; // fourth the height to center vertically
	height: $masthead-height;
	text-decoration: none;
	color: $black;
	font-family: $alt-font;
	font-weight: 700;
	@include font-size(20,no);
	line-height: .5 * $masthead-height; // half the height to center vertically
	text-transform: uppercase;
}
.portada {
	margin-top: 70px;
}
#main {
	background-color: $white;	
	border-left: thick solid $yellow;
	border-right: thick solid $yellow;
	border-left-width: 5px;
	border-right-width: 5px;
	padding-bottom: 50px;
	width: 70%;
  	margin-left: 15%;
}
.footer-page {
	background-color: $yellow;
    border-top: thick dotted $black;
    border-left: $yellow;
    border-right: $yellow; 
    border-bottom: $yellow;
}
#footer-page-wrapper {
	margin-bottom: 0px;
	width:100%;
	height:144px;
	position:absolute;
	bottom:0;
	left:0;
}
.link-image {
	border-bottom: none !important;
	text-decoration: none !important;
}
.miembros-spoonman {
    padding-bottom: 50px;
    padding-top: 10px;
}
/*
   Menus
   ========================================================================== */

.menu {
	li {
		float: left;
		&:last-child a {
			@include media($medium) {
				margin-right: 0; // remove spacing from last menu link
			}
		}
		a {
			// line hover effect
			position: relative;
			display: block;
			margin-right: $gutter;
			padding: (.25 * $masthead-height) 0 (.25 * $masthead-height) ;
			height: $masthead-height;
			font-family: $alt-font;
			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				height: 2px;
				@include transition(width 0.3s);
			}
			&:before {
				width: 100%;
				background: transparent;
			}
			&:after {
				width: 0;
				background: $black;
			}
			&:active:after,
			&:hover:after {
				width: 100%;
			}
		}
	}
}

/* Top menu navigation */

.top-menu {
	display: none;
	position: relative;
	@include media($medium) {
		@include span-columns(12);
	}
	@include media($large) {
		@include span-columns(7);
		ul {
			position: absolute;
			right: 0;
		}
	}
	.home,
	.sub-menu-item {
		display: none;
	}
	li {
		a {
			font-weight: 700;
			@include font-size(16,no);
			line-height: .5 * $masthead-height; // half the height to center vertically
			color: $black;
			text-transform: uppercase;
		}
	}
}

/* Bottom menu navigation */

.bottom-menu {
	@include clearfix;
	font-weight: 700;
	a {
		color: lighten($black,60);
	}
}


/*
   Page wrapper
   ========================================================================== */

#sticky-footer {
	min-height:100%;
	position:relative;
}

#page-wrapper {
	background-color: $black;
	padding-bottom: 144px !important; /* Height of the footer element */
	padding: 0 $gutter; // add white space for smaller screens
	@include size(100% 100%);
	-webkit-overflow-scrolling: touch;
	z-index: 0;
	@include transform(translate(0,0));
	@include transition(500ms cubic-bezier(.645,.045,.355,1.000));
	&.slide {
		@include transform(translate(-60rem,0));
	}
}

/*
   Main content
   ========================================================================== */

#main {
	.page-meta {
		p{
			@include font-size(14,no);
			font-family: $alt-font;
			color: lighten($black,60);
		}
	}
	.inner-wrap {
		width: 70% !important;
		@include media($medium) {
			@include span-columns(9);
		}
	}
	.page-title {
		@include fill-parent;
	}
	@at-root {
		.page-content {
			@include fill-parent;
			// larger font for intro paragraph
			> p {
				&:first-child {
					@include font-size(20,yes,30);
				}
			}
			// cleaner underlines for links
			a { text-decoration: none; }
			p a,
			li a {
				border-bottom: 1px dotted lighten($link-color, 50);
				&:hover {
					border-bottom-style: solid;
				}
			}
			p > a.reversefootnote {
				border-bottom-width: 0;
			}
      .toc li > a {
        border-bottom-width: 0;
      }
			.page-footer,
			.pagination {
				@include fill-parent;
			}
			.page-meta {
				p{
					@include font-size(14,no);
					font-family: $alt-font;
					color: lighten($black,60);
				}
			}
		}
	}
	@at-root {
		.archive-wrap {
			@include fill-parent;
			.page-content {
				@include reset-all;
				@include fill-parent;
			}
		}
	}
  /* advertisements */
	.ads {
		position: relative;
		text-align: center;
		margin-top: $gutter;
		margin-left: -$gutter;
		margin-right: -$gutter;
		padding: 10px 0 20px;
		background: lighten($border-color,5);
		@include media($medium) {
			@include span-columns(3);
			margin-left: 0;
			margin-right: 0;
		}
		&:after {
			content: 'Publicidad';
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			display: block;
			@include font-size(9,no);
			font-family: $alt-font;
		}
		ins {
			border-width: 0;
		}
	}
  /* latest post */
	.latest {
		width: 26% !important;
		position: relative;
		text-align: center;
		margin-top: $gutter;
		margin-left: -$gutter;
		margin-right: -$gutter;
		padding: 10px 0 20px;
		//background: lighten($border-color,5);
		@include media($medium) {
			@include span-columns(3);
			margin-left: 0;
			margin-right: 0;
		}
		&:after {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			display: block;
			@include font-size(9,no);
			font-family: $alt-font;
		}
		ins {
			border-width: 0;
		}
	}
	.latest ul {
		list-style-type: none;
	}
	.latest .latest-post{
		margin-left: -29px;
		margin-right: 11px;
	}
	.latest .latest-post-title{
		margin-top: -2px;
	}
}
// page lead
.page-lead {
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	color: $white;
	@include media($large) {
		background-size: cover;
	}
}
.page-lead-content {
	padding: 1em;
	@include media($medium) {
		padding: 2em;
	}
	@include media($large) {
		padding: 3em;
	}
	h1 {
		@include font-size(48);
		@include media($medium) {
			@include font-size(60);
		}
		@include media($large) {
			@include font-size(72);
		}
	}
	h2 {
		@include font-size(20);
		@include media($medium) {
			@include font-size(24);
		}
		@include media($large) {
			@include font-size(32);
		}
	}
}
// page header
.page-feature {	
	@include fill-parent;
	// expand image to cover full width of header
	img {
		width: 100%;
		padding-top: 45px;
	}
}
// make image flush with edges on small screens
.page-image {
	max-width: 98%;
	height: auto;
	position: relative;
	margin-left: -1 * $gutter;
	margin-right: -1 * $gutter;
	margin-left: 0.382em;
	// feature image caption
	.image-credit {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0 auto;
		padding: 10px 15px;
		background-color: rgba($black,.5);
		color: $white;
		font-family: $alt-font;
		@include font-size(12,no);
		text-align: right;
		z-index: 10;
		a {
			color: $white;
			text-decoration: none;
		}
	}
}

.latest-portada {
		position: relative;
		text-align: center;
		margin-top: $gutter;
		margin-left: -$gutter;
		margin-right: -$gutter;
		padding: 0px 0px 150px 20px;
		margin-bottom: 6.382em;
	}
	.latest-portada .latest-post {
		font-size: 0.78em;
      	height: 8em;
      	// margin-top: 2em;
      	@include span-columns(3);
      	@include omega(4n);
	}
	.latest-portada ul {
		list-style-type: none;
	}
	.latest-portada .latest-post{
		margin-left: -29px;
		margin-right: 50px;
	}
	.latest-portada .latest-post-title{
		margin-top: -2px;
	}

.related-posts {
		position: relative;
		text-align: center;
		margin-top: $gutter;
		margin-left: -$gutter;
		margin-right: -$gutter;
		padding: 0px 0px 95px 20px;
		margin-bottom: 4.382em;
	}
	.related-posts .related-post {
		font-size: 0.78em;
      	height: 8em;
      	// margin-top: 2em;
      	@include span-columns(3);
      	@include omega(4n);
	}
	.related-posts ul {
		list-style-type: none;
	}
	.related-posts .related-post{
		margin-left: 44px;
		margin-right: 11px;
	}
	.related-posts .related-post-title{
		margin-top: -2px;
	}
/*
   Page footer
   ========================================================================== */

.page-footer {
	position: relative;
}

.page-footer .inline-btn{
	margin-top: 15px;
}

/* Author block */

.author-image {
	margin-top: 11px;
	position: absolute;
	left: 0;
	img {
		width: 80px;
		height: 80px;
		border-radius: $border-radius;
	}
}
.author-content {
	word-wrap: break-word;
	padding-left: 100px; //avatar width + 20px padding
	min-height: 80px; //mirrors avatar height
}
.author-name {
	@include font-size(20,no);
}
.author-bio {
	margin-top: 0px;
	@include font-size(16);
}
.author-social {
	margin-top: -17px;
}

/*
   Site footer
   ========================================================================== */

#site-footer {
	@include outer-container;
	margin-top: (3 * (0px + $doc-line-height));
	margin-top: (3 * (0rem + ($doc-line-height / $doc-font-size)));
	margin-top: 0.5rem;
	padding-bottom: 0.618em;
	font-family: $alt-font;
  /* Copyright text */
	.copyright {
		@include font-size(12);
		color: lighten($black,60);
		a {
			color: lighten($black,60);
			text-decoration: none;
		}
	}
}

.copyright-text {
		@include font-size(14);
		color: lighten($black,60);
		a {
			color: lighten($black,60);
			text-decoration: none;
		}
	}

/*
   Ribbon
   ========================================================================== */

.ribbon {
	position: relative;
	width: 60%;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 20px 6px 70px;
	margin: 30px 10px 10px -8%;
	color: #555;
	background-color: #999;
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}
.ribbon:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #666 #666 transparent transparent;
}
.ribbon:before
{
	content: ' ';
	position: absolute;
	width: 50px;
	height: 0px;
	left: -30px;
	top: 63%;
	border-width: 20px 10px;
	border-style: solid;
	border-color: #999 #999 #999 transparent;
}

h1 {
	position: relative;
	width: 80%;
	font-size: 2.5em;
	font-weight: bold;
	padding: 6px 20px 6px 70px;
	margin: 30px 10px 10px -8%;
	color: #000;
	background-color: #999;
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}
h1:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #666 #666 transparent transparent;
}
h1:before {
	content: " ";
	position: absolute;
	width: 60px;
	height: 0px;
	left: -40px;
	top: 63%;
	border-width: 27px 10px;
	border-style: solid;
	border-color: #999 #999 #999 transparent;
}

#p-general h1{
	margin-left: -5.6% !important;
}

#p-general .ribbon{
	margin-left: -5.6% !important;	
}

/*
   Icons
   ========================================================================== */

.feed-small {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("../images/feed-icon-14x14.png") no-repeat 0 50%;
}

.feed {
  margin-left: 3px;
  padding: 0 0 0 35px;
  background: url("../images/feed-icon-28x28.png") no-repeat 0 50%;
}

.pagination-btn {
	margin-top: 22px;
	margin-bottom: -22px;
}

.sec-related-posts{
	position: relative;
}