<link href="{{ site.url }}/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ site.url }}/plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="{{ site.url }}/plugins/animate/animate.min.css" rel="stylesheet">
<link href="{{ site.url }}/plugins/animate/animate.delay.css" rel="stylesheet">
{% if page.carousel %}
<link href="{{ site.url }}/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
{% endif %}
{% if page.ekko-lightbox %}
<link href="{{ site.url }}/plugins/ekko-lightbox/ekko-lightbox.min.css" rel="stylesheet">
{% endif %}
{% if page.hovereffect %}
<link href="{{ site.url }}/plugins/hovereffects/set1.css" rel="stylesheet">
{% endif %}