{% if page.image.featured %}
    <p class="margin-top-30">
        <div class="grid">
            <figure class="effect-sadie">
                <img class="img-rounded full-width" src="{{ site.url }}/img/{{ page.image.featured }}" alt="{{ page.title }}">
                <figcaption>
                    {% if page.image.featured-text %}
                        <p align="center">“{{ page.image.featured-text }}”
                            {% if page.image.featured-credit %}
                                <br><i>{{ page.image.featured-credit }}</i>
                            {% endif %}
                        </p>
                        <a href="{{ site.url }}/img/{{ page.image.featured }}" data-title="{{ page.image.featured-text }}" data-toggle="lightbox" data-gallery="multiimages">Zoom</a>
                    {% endif %}
                </figcaption>  
            </figure>
        </div>
    </p>
{% endif %}

<!-- 
<div id="post-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#post-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#post-carousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="holder.js/1130x500" alt="">
        </div>
        <div class="item">
            <img src="holder.js/1130x500" alt="">
        </div>
    </div>
</div>
-->
{% if page.video.featured %}
    <p align="center">
        <div class="embed-video-container embed-responsive embed-responsive-16by9 margin-top-30">
            <iframe src="{{ page.video.featured }}" class="embed-responsive-item"></iframe>
        </div>
    </p>  
{% endif %}

{% if page.music.featured %}
    <p class="margin-top-30">
        <p align="center">
            <iframe src="{{ page.music.featured }}"></iframe>
        </p>
    </p>
{% endif %}