<ul class="post-meta">
    <li>
        {% if page.english %}
            <i class="fa fa-user margin-right-5"></i> <a href="{{ site.url }}/en/about/members/">{{ postAuthor.name }}</a>
        {% else %}
            <i class="fa fa-user margin-right-5"></i> <a href="{{ site.url }}/acercade/miembros/">{{ postAuthor.name }}</a>
        {% endif %}
    </li>
    <li>
        {% if post.date %}
            {% include generalWidgets/post-date.html %}
        {% endif %}
    </li>
    <li>
        {% include social/disqus/post-comment-counter.html %}
    </li>
</ul>

<ul class="post-meta">
    <li>
        {% include blogPage/blog-post-tags.html %}
    </li>    
</ul>
