---
layout: default
background: bg-grey-100
carousel: true
ekko-lightbox: true
easypiechart: true
acercade: true
---

{% if page.english %}
{% assign aboutData = site.data.about-en %}
{% else %}
{% assign aboutData = site.data.about-esp %}
{% endif %}

<section class="hero height-350" style="background-image: url({{ site.url }}/img/cover/cover.jpg);">
    <div class="hero-bg"></div>
    <div class="container">
        <div class="page-header game">
            <div class="page-title">Uncharted 4: A Thief’s End</div>
            <ol class="breadcrumb">
                <li><a href="index.html" class="no-padding-left">Home</a></li>
                <li><a href="#">Reviews</a></li>
                <li class="active">Reviews Post</li>
            </ol>   
            <a href="http://www.youtube.com/watch?v=Ow2cL-pp6p8" class="btn btn-lg btn-success margin-top-30 text-initial" data-toggle="lightbox" data-width="1280">Watch Game Trailer</a>
        </div>
    </div>
</section>

<section class="bg-white tab-select no-padding hidden-xs border-bottom-1 border-grey-300">
    <div class="container">
        <ul class="nav nav-tabs no-border inline" role="tablist">
            <li class="active"><a href="#">Uncharted 4: A Thief’s End</a></li>
            <li><a href="#"><i class="fa fa-star margin-right-10"></i> Reviews</a></li>
            <li><a href="#"><i class="fa fa-pencil margin-right-10"></i> News</a></li>
            <li><a href="#"><i class="fa fa-image margin-right-10"></i> Images</a></li>
            <li><a href="#"><i class="fa fa-video-camera margin-right-10"></i> Videos</a></li>
            <li><a href="#"><i class="fa fa-quote-left margin-right-10"></i> Forum</a></li>
        </ul>
    </div>
</section>

<section class="no-padding">
    <div class="container">
        <div class="row margin-top-50 margin-bottom-50">
            <div class="col-lg-9">
                <div class="box padding-top-40 padding-left-40 padding-right-40 padding-bottom-10">
                    <div class="post no-margin-bottom">
                        <div class="post-header margin-top-10">
                            <div class="post-title">
                                <h2 class="text-uppercase"><a href="#">Uncharted 4: A Thief’s End</a></h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-calendar margin-right-5"></i> Release Date: Dec 18, 2016</li>
                                    <li>Platforms:  <i class="ion ion-playstation margin-left-5 margin-right-5"></i></li>
                                    </li><i class="fa fa-comments margin-right-5"></i> <a href="#">0 <span class="hidden-xs">Comments</span></a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <p>Etiam et sollicitudin elit. Sed ultrices aliquet dui, eu aliquet metus sodales sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis porttitor varius pulvinar. Vivamus efficitur vulputate imperdiet. Nulla sit amet nisi blandit, accumsan ex at, varius diam. Duis a diam ac nibh tristique facilisis ut id felis.</p>
                
                        <blockquote class="bg-grey-100 padding-20 margin-top-30">
                            <h4 class="margin-top-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</h4>
                            <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique ligula a erat rhoncus, eget egestas quam dignissim. Cras accumsan diam non efficitur consequat."</em></p>
                            <footer class="margin-top-20 dispaly-inline-block ">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                                    
                        <p class="margin-top-30">Aliquam a tortor at erat pulvinar volutpat eget sit amet libero. Quisque pretium lacus augue. Integer lobortis ligula non eleifend hendrerit. Cras venenatis laoreet risus, lacinia consectetur nunc scelerisque sed. Duis pharetra felis sed orci tincidunt, sit amet fermentum arcu lacinia. Nulla blandit volutpat consectetur. Ut fringilla erat vitae lorem euismod, nec molestie eros posuere.</p>
                        <p class="margin-top-30">Etiam felis lacus, tempor sit amet nulla a, interdum egestas nunc. Fusce semper, purus quis pretium pretium, urna odio faucibus felis, id dapibus orci nulla vel leo. Donec quam magna, placerat quis porttitor nec, consectetur a felis. Sed ultrices laoreet scelerisque. Aenean ante lorem, elementum eu nisl ut, rutrum luctus eros. Maecenas efficitur sed erat id dignissim. Etiam lacinia quis mi eget blandit. Proin id est rhoncus, tristique lectus ut, commodo mi. Vivamus nec auctor dui.</p>
                        
                        <div class="row margin-top-40">
                            <div class="col-lg-8 col-xs-12 no-padding-xs no-padding-sm">
                                <div class="tags tags-sm margin-bottom-25">
                                    <a href="#">Playstation 4</a>
                                    <a href="#">Xbox One</a>
                                    <a href="#">Mirrors Edge</a>
                                    <a href="#">Cod Black Ops 3</a>
                                    <a href="#">Star Wars: Battlefront 3</a>
                                </div>
                            </div>
                            <div class="col-lg-4 text-right hidden-xs hidden-sm">
                                <ul class="share">  
                                    <li><a href="#" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="btn btn-sm btn-social-icon btn-google-plus" data-toggle="tooltip" title="Share on google"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="btn btn-sm btn-social-icon btn-flickr" data-toggle="tooltip" title="Share on flickr"><i class="fa fa-flickr"></i></a></li>
                                </ul>   
                            </div>
                        </div>  
                    </div>
                </div>
            </div>          
            
            <div class="col-lg-3">
                <div class="widget">
                    <div class="title">Score & Review</div>
                    <div class="box box-white padding-20">
                        <div class="bg-grey-100 padding-20 margin-bottom-30">
                            <h5 class="page-header bold no-margin no-padding no-border text-dark">Awesome game # score system</h5>
                            <p class="font-size-13 line-height-18 margin-top-20">Etiam quis ante a est cursus faucibus quis sed felis. Duis interdum lacinia odio</p>
                        </div>
                        
                        <p class="margin-bottom-5 font-size-13">Graphics <span class="pull-right">80%</span></p>
                        <div class="progress progress-animation progress-xs">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                        
                        <p class="margin-bottom-5 font-size-13">Gameplay <span class="pull-right">20%</span></p>
                        <div class="progress progress-animation progress-xs">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                        
                        <p class="margin-bottom-5 font-size-13">Total <span class="pull-right">45%</span></p>
                        <div class="progress progress-animation progress-xs">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                    </div>
                </div>
                
                <div class="widget">
                    <div class="title">Forum</div>
                    <div class="widget-list comment">
                        <ul>
                            <li>
                                <a href="#" class="thumb"><img src="{{ site.url }}/img/user/avatar.jpg" alt=""></a>
                                <div class="widget-list-meta">
                                    <h4 class="widget-list-title"><a href="#">CD Projekt Red Studio</a></h4>
                                    <p>September 15, 2015</p>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="thumb"><img src="{{ site.url }}/img/user/avatar.jpg" alt=""></a>
                                <div class="widget-list-meta">
                                    <h4 class="widget-list-title"><a href="#">Blood and Gore</a></h4>
                                    <p>September 13, 2015</p>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="thumb"><img src="{{ site.url }}/img/user/avatar.jpg" alt=""></a>
                                <div class="widget-list-meta">
                                    <h4 class="widget-list-title"><a href="#">Warner Bros. Interactive Entertainment</a></h4>
                                    <p>September 12, 2015</p>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="thumb"><img src="{{ site.url }}/img/user/avatar.jpg" alt=""></a>
                                <div class="widget-list-meta">
                                    <h4 class="widget-list-title"><a href="#">Spike Chunsoft</a></h4>
                                    <p>September 10, 2015</p>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="thumb"><img src="{{ site.url }}/img/user/avatar.jpg" alt=""></a>
                                <div class="widget-list-meta">
                                    <h4 class="widget-list-title"><a href="#">Role-Playing</a></h4>
                                    <p>September 05, 2015</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="widget">
                    <div class="title">Videos</div>
                    <div class="entry-post video">
                        <div class="thumb">
                            <img src="http://i1.ytimg.com/vi/c0i88t0Kacs/mqdefault.jpg" alt="">
                            <div class="thumb-nav"><a href="games-single"><i class="fa fa-battery-half"></i> <span>15:03</span></a></div>
                        </div>
                        <div class="caption">
                            <h3 class="main-title"><a href="games-single.html">The Witcher 3: Wild Hunt</a></h3>
                            <div class="font-size-12 margin-top-10"><i class="fa fa-eye margin-right-5"></i> 1500 views - <i class="fa fa-calendar margin-left-5 margin-right-5"></i> Dec 18, 2015</div>
                        </div>
                    </div>
                    <div class="entry-post video">
                        <div class="thumb">
                            <img src="http://i1.ytimg.com/vi/6GXXuolj860/mqdefault.jpg" alt="">
                            <div class="thumb-nav"><a href="games-single"><i class="fa fa-battery-half"></i> <span>15:03</span></a></div>
                        </div>
                        <div class="caption">
                            <h3 class="main-title"><a href="games-single.html">The Witcher 3: Wild Hunt</a></h3>
                            <div class="font-size-12 margin-top-10"><i class="fa fa-eye margin-right-5"></i> 1500 views - <i class="fa fa-calendar margin-left-5 margin-right-5"></i> Dec 18, 2015</div>
                        </div>
                    </div>
                    <div class="entry-post video">
                        <div class="thumb">
                            <img src="http://i1.ytimg.com/vi/94R0Ji39E68/mqdefault.jpg" alt="">
                            <div class="thumb-nav"><a href="games-single"><i class="fa fa-battery-half"></i> <span>15:03</span></a></div>
                        </div>
                        <div class="caption">
                            <h3 class="main-title"><a href="games-single.html">The Witcher 3: Wild Hunt</a></h3>
                            <div class="font-size-12 margin-top-10"><i class="fa fa-eye margin-right-5"></i> 1500 views - <i class="fa fa-calendar margin-left-5 margin-right-5"></i> Dec 18, 2015</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>      

<section class="bg-primary padding-40">
    <div class="container text-center">
        <div class="row slider">
            <div class="owl-carousel">
                <blockquote class="no-border no-margin">
                    <p class="no-padding-bottom font-size-26 color-white font-weight-300"><em>"Best epic game in this year. Awesome and unbeliavable score system."</em></p>
                    <footer class="bg-transparent color-white text-center no-margin font-size-14">Ign magazine</footer>
                </blockquote>       
                <blockquote class="no-border no-margin">
                    <p class="no-padding-bottom font-size-26 color-white font-weight-300"><em>"CD Projekt Red's first paid expansion is well worth the return to the Northern Kingdoms."</em></p>
                    <footer class="bg-transparent color-white text-center no-margin font-size-14">Metacritic</footer>
                </blockquote>       
            </div>
        </div>
    </div>
</section>