---
layout: default
---

<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		{% include breadcrumbs.html %}		
		<div class="inner-wrap">
			<div class="page-title">
				<h1>{{ page.title }}</h1>			
				{% include page-meta.html %}
			</div>
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
				{% if page.share != false %}{% include share-this.html %}{% endif %}
				<hr />
				{% include pagination.html %}			
				<hr />
				<footer class="page-footer">
					{% if page.categories %}{% include page-author.html %}{% endif %}
				</footer><!-- /.footer -->
				<hr />
				<div>
					{% include related-posts.html %}
				</div>
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		<div class="latest">
			{% include facebook-pagebox.html %}
			{% include mailchimp-htmlform.html %}
			{% include latest-posts-grid.html %}
			{% include popular-tags.html %}
			{% include twitter-feedbox.html %}
		</div>	
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->
