---
layout: default
imagesloaded: true
masonry: true
---

{% if page.english %}
{% assign blogData = site.data.blog-en %}
{% else %}
{% assign blogData = site.data.blog-esp %}
{% endif %}

<section class="hero height-240" style="background-image: url({{ site.url }}{{ blogData["blog"].image-url }});">
    <div class="hero-bg"></div>
    <div class="container">
        <div class="page-header">
            <div class="page-title">{{ blogData["blog"].titleimage-text }}</div>
            <ol class="breadcrumb">
                <li><a href="{{ site.url }}{{ blogData["breadcrumb"].home-url }}" class="no-padding-left">{{ blogData["breadcrumb"].home }}</a></li>
                <li><a href="{{ site.url }}{{ blogData["breadcrumb"].blog-url }}">{{ blogData["breadcrumb"].blog }}</a></li>
                <li class="active">{{ blogData["breadcrumb"].postlist }}</li>
            </ol>
        </div>
    </div>
</section>

<section class="bg-grey-100">
    <div class="container masonry padding-sm-15">
        {% for post in site.posts %}
        {% if post.author %}
            {% assign postAuthor = site.data.authors-esp[post.author] %}
        {% else %}
            {% assign postAuthor = site.owner %}
        {% endif %}
        <div class="post">
            <div class="box no-radius">
                <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
                    {% if post.image.teaser %}
                        <img src="{{ site.url }}/img/{{ post.image.teaser }}" class="img-responsive full-width" alt="{{ post.title }}" />
                    {% else %}
                        <img src="{{ site.url }}/img/{{ site.teaser }}" class="img-responsive full-width" alt="{{ site.teaser-alt }}" />
                    {% endif %}
                </a>
                        
                <div class="padding-20">
                    <div class="post-header margin-top-5">
                        <div class="post-title">
                            <h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
                        </div>
                    </div>
                            
                    <p>
                        {% if post.summary %}
                          {{ post.summary | strip_html}}
                        {% else %}
                          {{ post.excerpt | strip_html | truncate: 160 }}
                        {% endif %}  
                    </p>
                    
                    <ul class="post-meta">
                        <li><i class="fa fa-user margin-right-5"></i> <a href="{{ site.url }}{{ blogData["blog"].members-link }}">{{ postAuthor.name }}</a></li>                     
                    </ul>
                    <ul class="post-meta">
                        <li>
                            <i class="fa fa-calendar margin-right-5"></i> 
                            {% if post.date %}
                                {% include generalWidgets/post-date.html %}
                            {% endif %}
                        </li>   
                    </ul>
                    <ul class="post-meta">
                        <li>
                            {% if post.tags.size > 0 %}
                              {% for tag in post.tags %}
                                <button type="button" href="{{ site.url }}{{ blogData["blog"].tag-link }}{{ tag }}" class="btn btn-xs btn-warning"><i class="fa fa-tag"></i>  {{ tag }}</button> 
                              {% endfor %}
                            {% else %}
                               <button type="button" href="#" class="btn btn-xs btn-default">{{ blogData["blog"].notag-text }}</button> 
                            {% endif %}
                        </li>
                    </ul>
                    <ul class="post-meta">
                        <li>
                            <i class="fa fa-comments margin-right-5"></i> 
                            {% if site.owner.disqus-shortname %}
                               |  <a href="{{ post.url }}#disqus_thread"><i class="fa fa-cog fa-spin"></i> {{ blogData["blog"].updatingdisqus-text }}</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

