---
layout: default
googlemaps: true
---

{% if page.english %}
{% assign contactData = site.data.contact-en %}
{% else %}
{% assign contactData = site.data.contact-esp %}
{% endif %}

<section class="section no-padding no-margin">
    <div id="map" class="height-460"></div>
</section>

<section class="bg-primary padding-40 bgcolor-yellow color-black">
    <div class="container text-center">
        <h2 class="font-size-26 font-open-sans font-weight-300">{{ contactData["banner"].title }}</h2>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="title text-left">
                    <h4><i class="fa fa-envelope bgcolor-yellow color-black"></i>{{ contactData["contact"].title }}</h4>
                </div>
            
                <p>{{ contactData["contact"].content }} </p>

                {% include social/formspree.html %}
            </div>
            
            <div class="col-lg-4 border-left-1 border-grey-200">                
                {% include contactPage/address.html %}
                {% include social/facebook-pagebox-contact.html %}
            </div>
        </div>
    </div>
</section>