<!DOCTYPE html>
{% if page.english %}
<html lang="en">
{% else %}
<html lang="es-cl">
{% endif %}
<head>
    {% include headPlugins/headAuthor.html %}

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">
    <meta name="google-site-verification" content="8lyamDLFMPxNGKCDwp1OyM0_NkZ4c1xXhP6s2Zo-pVU" />
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% include social/open-graph.html %}

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <!-- Alternativa FAVICON -->
    <!-- link rel="shortcut icon" href="{{ site.url }}/img/favicon.ico" -->
    <!-- Alternativa PNG -->
    <link rel="shortcut icon" href="{{ site.url }}/favicon.png" type="image/png">
    <link rel="icon" type="image/png" href="{{ site.url }}/favicon.png">

    <!-- CORE CSS -->
    <link href="{{ site.url }}/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.url }}/css/style.css" rel="stylesheet">
    <link href="{{ site.url }}/css/helpers.css" rel="stylesheet">

    <!-- PLUGINS -->
    {% include headPlugins/head-plugins.html %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link href="{{ site.url }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

    {% include social/googleplus-sdk.html %}
    {% include social/mailchimp-formheader.html %}
</head>
{% if page.background == "bg-grey-100" %}
<body class="header-fixed bg-grey-100">
{% else if page.post %}
<body class="header-fixed boxed">
{% else %}
<body class="header-fixed">
{% endif %}
    <!-- Start Scripts -->
    {% include social/twitter-sdk.html %}
    {% include social/facebook-sdk.html %}

    {% include headerNavigation/header.html %}

    <!-- Content -->
    <div id="wrapper">  
        {{ content }}
    </div>

    <!-- footer -->
    {% include footerNavigation/footer.html %}

    <!-- End Scripts -->
    {% include bodyScripts/body-scripts.html %}
    {% include social/analytics.html %}
    {% include social/disqus_counter.html %}    
</body>
</html>
