---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <h5>
    <strong>
      {{ page.date | date: "%B %e, %Y" }}
      {% if site.disqus %}
         | <a href="{{ page.url }}#disqus_thread"></a>
      {% endif %}
      {% if page.tags.size > 0 %}
         | Tags: 
        {% for tag in page.tags %}
          <a href="/tag/{{ tag }}">{{ tag }} </a> 
        {% endfor %}
      {% endif %}
    </strong>
  </h5>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Fecha de publicación {{ page.date | date: "%B %e, %Y" }}
  </div>

    <p>
        {% if page.previous.url %}
            <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
                izq - {{page.previous.title}}
            </a>
        {% endif %}
        {% if page.next.url %}
            <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">
                der - {{page.next.title}}
            </a>
        {% endif %}
    </p>

  <h2>Comentarios</h2>

  <p>Sientete libre de preguntar lo que sea :)</p>

  {% include disqus.html %}
</article>
